<ion-content [fullscreen]="true">
    <div class="navar">
        <p>Ingresar</p>
    </div>
    <div id="main">
        <div class="caption">
            <h1>Bienvenidos a La Comada! </h1>
            Alguna descripcion falopa sobre el restaur<br>
            The quick brown fox jumps over the lazy dog" is an English-language pangram—a
            <br> sentence that contains all
            of the letters of the alphabet.
        </div>
        <ion-button (click)="test()">CLICK</ion-button>
    </div>

    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <img src="https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_960_720.jpg" alt="thumb 1">
            </ion-col>
            <ion-col size="6">
                <img src="https://cdn.pixabay.com/photo/2014/06/16/23/10/spice-370114_960_720.jpg" alt="thumb 2">
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>