ion-content{
    --background:lightblue;
}
#cardLogin{
    background: transparent;
    position: absolute;
    top: 30%;
    min-width: 95%;
    left: 0;
}

#gorroCocinero{
    position: absolute;
    top: 0%;
    left: 15%;
    z-index: 9;
}