<ion-header>
  <ion-icon id="hamburgerLeftMenu" class="hamburgerMenu" name="menu-outline" pButton type="button"
    (click)="leftMenu = true" (click)="mostrarFormProductos=false" (click)="mostrarSalaDeEspera=false"></ion-icon>
</ion-header>
<ion-content>

  <!-- CONSULTA AL MOZO -->
  <app-form-consultas *ngIf="mostrarFormConsultas" [user]="user" (preguntaCanceladaEvent)="mostrarFormConsultas=false">
  </app-form-consultas>
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
  <!-- FIN CONSULTA AL MOZO -->


  <!-- LEFT MENU -->
  <p-sidebar [(visible)]="leftMenu" [modal]=false [baseZIndex]="10000">
    <h1 style="font-weight:normal">Acciones usuario</h1>
    <ion-button class="btnPropio" (click)="scanCode()" (click)="leftMenu = false">
      <p>Escanear</p>
      <img style="max-width: 30px;" src="../../../../assets/images/qr.png" alt="imagen logo QR">
    </ion-button>
    <ion-button *ngIf="user.ubicado=='enMesa'" (click)="mostrarFormConsultas=true"  (click)="mostrarMenuProductos=false" class="btnPropio"
      (click)="leftMenu = false">
      <p>Consultar </p>
      <img style="max-width: 30px;" src="../../../../assets/images/request.png">
    </ion-button>
    <ion-button *ngIf="user.ubicado=='enMesa'" class="btnPropio" (click)="leftMenu = false" (click)="mostrarMenuProductos=true" (click)="mostrarFormConsultas=false">
      <p>Armar pedido </p> <img style="max-width: 30px;" src="../../../../assets/images/carrito.png">
    </ion-button>
  </p-sidebar>
  <!-- FIN LEFT MENU -->

  <!-- ARMAR PEDIDO -->
  <app-menu-productos *ngIf="mostrarMenuProductos" (pedidoAlteradoEventToPrincipal)="calcularCostoTotal($event)" (formalizarPedidoEventToPrincipal)="darDeAltaPedido($event)"></app-menu-productos>
  <!-- FIN ARMAR PEDIDO -->
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title style="float: right;">Total: {{totalAcumulado|precio}}</ion-title>
  </ion-toolbar>
</ion-footer>
<!--  <ion-list>
    <ion-item>
      <ion-select value="comidas" [(ngModel)]="productoSeleccionado" placeholder="Select One">
        <ion-select-option value="comidas">Comidas</ion-select-option>
        <ion-select-option value="bebidas">Bebidas</ion-select-option>
        <ion-select-option value="postres">Postres</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

 
  mientras esperas disfruta viendo nuestros platos bla bla bla
  <ion-slides *ngIf="productoSeleccionado=='comidas'" pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let comida of comidas">
      <img src="{{comida}}">
    </ion-slide>
  </ion-slides>
  <ion-slides *ngIf="productoSeleccionado=='bebidas'" pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let bebida of bebidas">
      <img src="{{bebida}}">
    </ion-slide>
  </ion-slides>
  <ion-slides *ngIf="productoSeleccionado=='postres'" pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let postre of postres">
      <img src="{{postre}}">
    </ion-slide>
  </ion-slides>
  FIN CAROUSEL
  <ion-button (click)="test()">ENVIAR EMAIL</ion-button> -->