<ion-header>
  <ion-icon id="hamburgerLeftMenu" class="hamburgerMenu" name="menu-outline" pButton type="button"
    (click)="leftMenu = true" (click)="mostrarFormProductos=false" (click)="mostrarSalaDeEspera=false"></ion-icon>
</ion-header>
<ion-content>
  <app-form-consultas *ngIf="mostrarFormConsultas" [user]="user" (preguntaCanceladaEvent)="mostrarFormConsultas=false"></app-form-consultas>
  <!-- LEFT MENU -->
  <p-sidebar [(visible)]="leftMenu" [modal]=false>
    <h1 style="font-weight:normal">Acciones usuario</h1>
    <ion-button class="btnPropio" (click)="scanCode()" (click)="leftMenu = false">
      <img style="max-width: 30px;" src="../../../../assets/images/qr.png" alt="imagen logo QR">
    </ion-button>
    <ion-button *ngIf="user.ubicado=='enMesa'" (click)="mostrarFormConsultas=true" class="btnPropio"
      (click)="leftMenu = false" >
      <img style="max-width: 30px;" src="../../../../assets/images/request.png">
    </ion-button>
  </p-sidebar>
  <!-- FIN LEFT MENU -->

  <ion-list>
    <ion-item>
      <ion-select value="comidas" [(ngModel)]="productoSeleccionado" placeholder="Select One">
        <ion-select-option value="comidas">Comidas</ion-select-option>
        <ion-select-option value="bebidas">Bebidas</ion-select-option>
        <ion-select-option value="postres">Postres</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <!-- CAROUSEL -->
  mientras esperas disfruta viendo nuestros platos bla bla bla
  <ion-slides *ngIf="productoSeleccionado=='comidas'" pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let comida of comidas">
      <img src="{{comida}}">
    </ion-slide>
  </ion-slides>
  <ion-slides *ngIf="productoSeleccionado=='bebidas'" pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let bebida of bebidas">
      <img src="{{bebida}}">
    </ion-slide>
  </ion-slides>
  <ion-slides *ngIf="productoSeleccionado=='postres'" pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let postre of postres">
      <img src="{{postre}}">
    </ion-slide>
  </ion-slides>
  <!--FIN CAROUSEL -->
  <ion-button (click)="test()">ENVIAR EMAIL</ion-button>


</ion-content>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>