
.hamburgerMenu{
    font-size: 250%;
    color: black;
    background-color: transparent;
    border: none;
}
img{
    max-height:15em ;
    max-width: 15em;
    min-height:15em ;
    min-width: 15em;
    border-radius: 100%;
}
ion-header{
    
    --background:#fff1de;
}
ion-select{
    min-width: 100%;
    text-align: center;
}
.btnPropio{
    font-size: 140%;
    min-width: 100%;
    --background:#7e6954; 
    img{
        max-height:30px ;
        max-width: 30px;
        min-height:30px ;
        border-radius: 0%;
        min-width: 30px;
    }
}