<p-accordion *ngIf="listaDePedidos.length>=1">
  <p-accordionTab *ngFor="let pedido of listaDePedidos"
    header="Codigo de Pedido: '{{pedido.codigoPedido | uppercase}}'">
    <p> Cliente: {{pedido.cliente.nombre}}</p>
    <p> Mesa: {{pedido.cliente.mesa.codigo}}</p>
    <p> Facturacion: {{pedido.facturacion | precio}}</p>
    <!-- PLATOS -->
    <p-accordion *ngIf="pedido.platos.length>=1">
      <p-accordionTab header="PLATOS">
        <div id="divSeparador" *ngFor="let plato of pedido.platos">
          <p> Cantidad: {{plato.cantidad}}</p>
          <p> Mesa: {{plato.producto.nombre}}</p>
        </div>
      </p-accordionTab>
    </p-accordion>
    <!-- FIN PLATOS -->

    <!-- POSTRES -->
    <p-accordion *ngIf="pedido.postres.length>=1">
      <p-accordionTab header="POSTRES">
        <div id="divSeparador" *ngFor="let postre of pedido.postres">
          <p> Cantidad: {{postre.cantidad}}</p>
          <p> Mesa: {{postre.producto.nombre}}</p>
        </div>
      </p-accordionTab>
    </p-accordion>
    <!-- FIN POSTRES -->

    <!-- BEBIDAS -->
    <p-accordion *ngIf="pedido.bebidas.length>=1">
      <p-accordionTab header="BEBIDAS">
        <div id="divSeparador" *ngFor="let bebida of pedido.bebidas">
          <p> Cantidad: {{bebida.cantidad}}</p>
          <p> Mesa: {{bebida.producto.nombre}}</p>
        </div>

      </p-accordionTab>
    </p-accordion>
    <!-- FIN BEBIDAS -->

  </p-accordionTab>
</p-accordion>