<div id="divCheckBox" class="centrado">
  <p-triStateCheckbox [(ngModel)]="checkBox.value" label="{{checkBox.label}}" ui-chkbox-icon="pi-thumbs-up"
    (onChange)="cambiarTituloCheckBox()"></p-triStateCheckbox>
</div>

<p-accordion>
  <div *ngFor="let pedido of listaDePedidos">
    <p-accordionTab *ngIf="(pedido.estado!='entregado' && pedido.estado==checkBox.filtroSeleccionado)"
      header="Codigo de Pedido: '{{pedido.codigoPedido | uppercase}}'">

      <app-accordion-producto *ngIf="pedido.platos.length >=1" [pedido]="pedido.platos" [pedidoCompleto]="pedido"
        [titulo]="'PLATOS'">
      </app-accordion-producto>

      <app-accordion-producto *ngIf="pedido.postres.length >=1" [pedido]="pedido.postres" [pedidoCompleto]="pedido"
        [titulo]="'POSTRES'">
      </app-accordion-producto>
    </p-accordionTab>


  </div>
</p-accordion>