<ion-header>

    <div class="topnav">
        <img [routerLink]="['/login']" id="btnIngreso" src="../../../assets/images/ingresar.png" alt="Ingresar">
        <ion-button [routerLink]="['/alta-cliente']">Registrar Usuario</ion-button>
        <!-- <ion-button  [routerLink]="['/admin']" >Admin area</ion-button> -->
        <ion-button [routerLink]="['/login']">Ingresar como empleado</ion-button>
        <ion-button [routerLink]="['/testeo']">TESTEO</ion-button>
    </div>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="pantalla">
        <ion-card>
            <ion-card-header>
              <ion-card-title>¡Bienvenido!</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <img src="../../../../assets/images/Logo-Comandita.png" alt="Logo laComandita">
              Le damos la bienvenida a la Comandita, el mejor lugar para comer de la ciudad. 
              Puede elegir entre registrarse utilizando un perfil anónimo,  o volverse parte de nuestra clientela habitual.
            </ion-card-content>
          </ion-card>
        <div class="calesita">
            <ion-slides pager="true" [options]="slideOpts">
                <ion-slide>
                    <img src="../../../assets/images/comidas/milanesa de ternera.png"><br>
                </ion-slide>
                <ion-slide>
                    <img src="../../../assets/images/comidas/sushi.png"><br>
                </ion-slide>
                <ion-slide>
                    <img src="../../../assets/images/comidas/pizza picante.png"><br>
                </ion-slide>
                <ion-slide>
                    <img src="../../../assets/images/comidas/parrillada.png"><br>
                </ion-slide>
                <ion-slide>
                    <img src="../../../assets/images/comidas/bife.png"><br>
                </ion-slide>
            </ion-slides>
        </div>
    </div>

</ion-content>