<ion-header>

    <div class="topnav">
        <img [routerLink]="['/login']" id="btnIngreso" src="../../../assets/images/ingresar.png" alt="Ingresar">
        <ion-button [routerLink]="['/alta-cliente']">Registrar Usuario</ion-button>
        <!-- <ion-button  [routerLink]="['/admin']" >Admin area</ion-button> -->
        <ion-button [routerLink]="['/login']">Ingresar como empleado</ion-button>
        <ion-button [routerLink]="['/testeo']">TESTEO</ion-button>
    </div>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="pantalla">
        <div class="logo">
            <a href="home">
                <img class="imgLogo" src="../../../assets/images/Logo-Comandita.png">
            </a>
            <div class="caption">
                ¡El mejor restaurante del mundo para comaprtir con amigos y familia un momento y sabores espectaculares!
            </div>
        </div>
        <div class="calesita">
            <ion-slides pager="true" [options]="slideOpts">
                <ion-slide>
                    <img src="../../../assets/images/comidas/milanesa de ternera.png"><br>
                </ion-slide>
                <ion-slide>
                    <img src="../../../assets/images/comidas/sushi.png"><br>
                </ion-slide>
                <ion-slide>
                    <img src="../../../assets/images/comidas/pizza picante.png"><br>
                </ion-slide>
                <ion-slide>
                    <img src="../../../assets/images/comidas/parrillada.png"><br>
                </ion-slide>
                <ion-slide>
                    <img src="../../../assets/images/comidas/bife.png"><br>
                </ion-slide>
            </ion-slides>
        </div>
    </div>

</ion-content>