ion-content{
    --background:#fff1de;
}
.hamburgerMenu{
    font-size: 250%;
    color: black;
}

#hamburgerRightMenu{
    position: relative;
    float: right;
}
ion-button{
    --background:#7e6954; 
}